*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

.app_bg{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  background: #fafafa; 
}

.upload_resume{
  width: 460px;
  background: #fff;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 0 30px rgb(0,0,0,0.2);
}

.upload_resume > h2{
  color: #6990F2;
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.upload_resume form{
  min-height: 247px;
  display: flex;
  cursor: pointer;
  margin: 30px 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  border: 2px dashed #6990F2;
  padding: 30px;
}


form :where(i, p){
  color: #6990F2;

}

.icon {
  color: #6990F2;
  font-size:50px
}
form p{
  margin-top: 15px;
  font-size: 16px;
}

section .applicant_row{
  margin-bottom: 10px;
  background: #E9F0FF;
  list-style: none;
  padding: 15px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section .applicant_row i{
  color: #6990F2;
  font-size: 30px;
}

section .up_file_details span{
  font-size: 14px;
}

.progress-area .applicant_row .applicant_content{
  width: 100%;
  margin-left: 15px;
}
.progress-area .up_file_details{
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.progress-area .applicant_content .up_file_probar{
  height: 6px;
  width: 100%;
  margin-bottom: 4px;
  background: #fff;
  border-radius: 30px;
}

.applicant_content .up_file_probar .up_file_progress{
  height: 100%;
  width: 0%;
  background: #6990F2;
  border-radius: inherit;
}
.uploaded-area{
  max-height: 232px;
  overflow-y: scroll;
}
.uploaded-area .onprogress{
  max-height: 150px;
}
.uploaded-area::-webkit-scrollbar{
  width: 0px;
}
.uploaded-area .applicant_row .applicant_content{
  display: flex;
}
.uploaded-area .applicant_row .up_file_details{
  display: flex;
  flex-direction: column;
}
.uploaded-area .applicant_row .up_file_details .up_file_size{
  color: #404040;
  font-size: 11px;
}
.uploaded-area i.fa-check{
  font-size: 16px;
}

.submit_btn{
  background-color: #6990F2;
  width: 150px;
  height:35px;
  border-radius: 5px;
  border: none;
  color: #fff;

}

.submit_btn:hover {
  background-color: #5372bf;
}

.upload-button{
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #6990F2;
  border: 1px solid #595ef1bd;
  height: 40px;
  cursor: pointer;
  transition: all .25s ease-in;
  cursor: pointer;
}

.input-file{
  background-color: #f8f9fc;
  border: 1px solid #e2e9f3;
  border-radius: 4px;
  height: 40px;
  min-width: 250px;
  color: #565A90;
  margin-bottom: 20px;
}

.input-file::file-selector-button{
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #6990F2;
  border: 1px solid #595ef1bd;
  height: 40px;
}

.input-file::file-selector-button:hover{
  background-color: #5372bf;
}
