.bg2{
    margin: 0;
    padding: 0;
}
.pro{
    display: flex;
    width: 100vw;
    font-size: 35px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: rgb(4, 65, 106);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 24px;
}
.login-form{
    width: 480px;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
    color: black;
    padding: 20px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.login-form h2{
    font-size: 36px;
    margin-left: 34px;
    text-decoration: none;
    margin-top: 25px;
}
.login-form label{
    font-size: 20px;
    margin: 20px 0 10px 0px;
    margin-left: 35px;
    color: rgb(113 113 113)
}
.login-form input{
    font-size: 18px;
    width: 85%;
    padding: 10px 10px;
    border: 0;
    margin-left: 30px;
    border: 2px solid rgba(0, 0, 0, 0.192);
    border-radius: 10px;
}
.login-form button{
    font-size: 20px;
    font-weight: bold;
    width: 85%;
    color: aliceblue;
    padding: 10px 45px;
    margin: 34px 30px;
    border-radius: 10px;
    border: none;
    background-color: #0489c9;
}
.login-form button:hover{
    background-color: #006ea3;
}