.bg1{
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=600");
    /* background-color: rgba(0, 0, 0, 0.821); */
    width: 100vw;
    height: 90vh;
    display: flex;
    background-size:cover;
}
.pro{
    display: flex;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    
}
.signup-page{
    width: 400px;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    color: white;
    background-color: rgba(255, 255, 255, 0.251);
    font-family: 'Times New Roman', Times, serif;
}
.signup-page h2{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 6px 0;
}
.signup-page label{
    font-size: 20px;
    margin: 10px 0;
    margin-left: 30px;
}
.signup-page input{
    font-size: 16px;
    width: 80%;
    padding: 8px 10px;
    border: 0;
    margin-left: 30px;
    outline: none;
    border-radius: 5px;
}
.signup-page button{
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    padding:6px 8px;
    margin: 25px 30px;
    outline: none;
    border-radius: 5px;
}
.signup-page button:hover{
    background-color: rgba(146, 241, 241, 0.962);
}