.bg1{
    margin: 0;
   padding: 0;
}
.pro1{
    display: flex;
    font-size: 35px;
    width: 100vw;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: rgb(48, 50, 111);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top:40px;  
}
.signup-page{
    width: 450px;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
   box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.516), 3px 3px 5px rgba(0, 0, 0, 0.516);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.signup-page h2{
    font-size: 40px;
    margin-left: 30px;
    margin-top: 6px;
}
.signup-page label{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
}
.signup-page input{
    font-size: 14px;
    width: 80%;
    padding: 8px 10px;
    border: 0;
    margin-left: 30px;
    border: 2px solid rgba(0, 0, 0, 0.495);
    border-radius: 10px;
    background-color: white;
}
.signup-page button{
    font-size: 20px;
    font-weight: bold;
    width: 50%;
    color: aliceblue;
    padding:6px 8px;
    margin: 25px 30px;
    border: none;
    border-radius: 20px;
    background-color: rgb(248, 96, 40);
}
.signup-page button:hover{
    background-color: rgba(170, 67, 23, 0.962);
}