{% extends "base.html" %}

{% block title %}All Jobs{% endblock %}

{% block content %}
<div class="all_job_con">
	<h3>Manage Jobs</h3>
	<div class="job_alignment_con">
		<h3><i class="fas fa-suitcase"></i> My Job Listings</h3>
        <div class="jobs_card_container">
			{% for i in range(0, len) %}
			<div class="jobs_card">
				<div class="job_card_content">
					<h3 class="job_card_profile">{{ data[i]['job_profile'] }}</h3>
					<p class="job_card_com"><b>Company Name:</b>  {{ data[i]['company_name'] }}</p>
					<div class="job_card_ds">
						<p class="job_card_salary"><i class="fas fa-rupee-sign"></i> Salary:  {{ data[i]['salary'] }}</p>
					    <p class="job_card_date"><i class="far fa-calendar-alt"></i> Expiring on: {{ data[i]['last_date'] }}</p>
					</div>
					<p class="job_card_buttons">
						<button onClick="showJD('{{ data[i].jd_filename }}')" class="card_view_details">View</button>
						{% if data[i]['applied'] == 'applied' %}
							<button id="{{ data[i]['job_id'] }}" class="card_apply_job_disabled" disabled>Applied</button>
						{% else %}
							<button id="{{ data[i]['job_id'] }}" class="card_apply_job apply_job">Apply</button>
						{% endif %}
					</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	
</div>
<script>
	function showJD(filename) {
		let features = 'menubar=yes,location=yes,resizable=no,scrollbar=yes,status=no,height=700,width=1000';
		let url = '/static/job_descriptions/' + filename;
		window.open(url, '_blank', features);
	}
</script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> 

<script>
	var $j = jQuery.noConflict();

	$(document).on('click', '.apply_job', function() {
		var job_id = $(this).attr('id');
		$j.ajax({
			url: "/applicant/apply_job",
			method: 'POST',
			data: ({ job_id: job_id }),
			success: function(data) {
				if (data.status_code == 200) {
					document.getElementById(job_id).innerHTML = 'Applied';
					document.getElementById(job_id).disabled = true;
					document.getElementById(job_id).className = 'card_apply_job_disabled';
				}
				if (data.status_code == 400) {
					alert(data.message);
				}
			}
		})
	})
</script>
{% endblock %}