{% extends "base.html" %}

{% block title %}Applicant Dashboard{% endblock %}

{% block nav %}
<span><a href="/applicant/show_job">New Jobs</a></span>
{% endblock %}

{% block content %}
	<div class="app_bg">
		<div class="upload_resume">
			<h2>Hello, {{ session['user_name'] }}!</h2>
			<form action="/applicant/uploadResume" class="text" method="POST" enctype="multipart/form-data">
			<label>Upload Your Resume Here :</label>
			<input type="file" class="upload-button" name="resume"/>
			<br>
			<br>
			<pre>       Only .docx or .pdf file type allowed.</pre>
			<input type="submit" class= "submit_btn" value="Upload" name="resumeSubmitBtn">
			</form>
			{{ errorMsg }}
			{{ successMsg }}
		</div>
	</div>
{% endblock %}
