{% extends "base.html" %}

{% block title %}Applicant Dashboard{% endblock %}

{% block nav %}
<span><a href="/applicant/show_job">New Jobs</a></span>
{% endblock %}

{% block content %}
	<div class="app_bg">
		<div class="upload_resume">
			<h2>Hello, {{ session['user_name'] }}!</h2>
			<form action="/applicant/uploadResume" class="text" method="POST" enctype="multipart/form-data">
				<input type="file" class= "input-file" name="resume" hidden />
				<h3 class="icon"><i class="fas fa-cloud-upload-alt"></i></h3>
				<p>Only .docx or .pdf file type allowed.</p>
				<input type="submit" class= "submit_btn" value="Upload" name="resumeSubmitBtn">
			</form>
			<section class="progress-area"></section>
			{{ errorMsg }}
			{{ successMsg }}
		</div>
		<script src="../static/js/applicant_dashboard.js"></script>
	</div>
{% endblock %}
