{% extends "base.html" %}

{% block title %}Resume Screening{% endblock %}

{% block nav %}
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div>
	<h1>Resume Screening and Ranking using ML</h1>
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    		<ul class=flashes>
    		{% for message in messages %}
      			<li>{{ message }}</li>
    		{% endfor %}
    		</ul>
  		{% endif %}
	{% endwith %}
	<a href="/email-login">Login using Email</a>
	<br>
	<a href="/google-login">Login using Google</a>
	<br>
	<br>
	<p>Do not have an account ? </p>
	<a href="/email-signup">SignUp</a>
</div>
{% endblock %}