{% extends "base.html" %}

{% block title %}Resume Screening{% endblock %}

{% block nav %}
<span><a href="/HR">Employer/HR</a></span>
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div>
	<h1>Resume Screening and Ranking using ML</h1>
	{% with messages = get_flashed_messages() %}
  		{% if messages %}
    		<ul class=flashes>
    		{% for message in messages %}
      			<li>{{ message }}</li>
    		{% endfor %}
    		</ul>
  		{% endif %}
	{% endwith %}
	<a href="/login">Login</a>
</div>
{% endblock %}